<!--子类进行继承-->
{% extends 'layout.html' %}
{%block main%}
<ol class="breadcrumb">
    <li><a href="/admin/">首页</a></li>
    <li><span>内容管理</span></li>
</ol>

<h3>内容列表</h3>

<table class = 'table table-hover table-striped'>
    <tr>
        <th>id</th>
        <th>所属分类</th>
        <th>标题</th>
        <th>作者</th>
        <th>添加时间</th>
        <th>阅读量</th>
        <th>操作</th>

    </tr>

    {% for content in contents %}
    <tr>
        <td>{{content._id.toString()}}</td>
        <td>{{content.category.name}}</td>
        <td>{{content.title}}</td>
        <td>{{content.user.nickname}}</td>
        <!--注意，这里的date是模板引擎写好的一个方法，第一个参数为时间Object，第二个参数为年月日-->
        <td>{{content.addTime|date('y年m月d日h时i分s秒',-20*60)}}</td>
        <td>{{content.views}}</td>
        <td>
            <a href="/admin/content/edit?id={{content._id.toString()}}">修改</a>/
            <a href="/admin/content/delete?id={{content._id.toString()}}">删除</a>
        </td>
    </tr>
    {% endfor%}
</table>

{% include 'page_content.html'%}

{%endblock%}