<!--子类进行继承-->
{% extends 'layout.html' %}
{%block main%}
<ol class="breadcrumb">
    <li><a href="/admin_user">管理首页</a></li>
    <li><span>成功提示</span></li>
</ol>

<h3>成功提示</h3>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">成功提示</h3>
    </div>
    <div class="panel-body">
        {{errmessage}}
    </div>
    <div class="panel-footer">

        {% if url %}
        <a href="{{url}}">跳转主页面</a>
        {% else %}
        <a href="javascript:window.history.back()">返回上一步</a>
        {% endif %}

    </div>
</div>

{%endblock%}