
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>博客</title>
    <script src="/public/js/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href='/public/css/bootstrap-theme.min.css' type="text/css">
    <link rel="stylesheet" href='/public/css/bootstrap.min.css' type="text/css">
    <script src = '/public/js/bootstrap.min.js'></script>

    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <link href="/public/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/public/js/index.js"></script>




</head>

<body>

<!--这个是背景的h5效果添加-->
<canvas id="Mycanvas"></canvas>
<script src="/public/js/BackgroundAdd.js"></script>
<header>
    <div class="backimg"><img src="/public/images/水墨背景.jpg"height="150" width="1550"></div>
    <div class="logo"><span></span><img src="/public/images/true.jpg" height="90" width="100"></div>
</header>

<nav>
    <div class="menu">
        <a href="/" class="label label-primary">CyanSky</a>
        {% if category == '' %}
        <a href="/" class="focus">首页</a>
        {% else%}
        <a href="/" >首页</a>
        {% endif%}

        {% for cate in categories%}
        {% if category == cate.id%}
        <a href="/?category={{cate.id}}" class="focus">{{cate.name}}</a>
        {% else%}
        <a href="/?category={{cate.id}}">{{cate.name}}</a>
        {% endif%}
        {% endfor %}
    </div>
</nav>



<main class="clear">
    <div>
        <button type="button" class="btn btn-primary" id="create">新建文章</button>
    </div>
    <br>
    <div class="mainLeft" id="mainLeft">
        {% block mainleft%}
        {% endblock %}
    </div>

    <div class="mainRight">

        {% if userInfo._id %}
        <div class="rightBox" id = "userInfo" >
            <div class="title"><span>用户信息</span></div>
            <p><span class="colDark ">{{userInfo.nickname}}</span></p>
            <input type="hidden" id="username" value="{{userInfo.username}}">
            {% if userInfo.isAdmin%}
            <p><span class="colDanger">你好！欢迎管理员！</span>
                <a href="/admin">进入管理</a>
            </p>
            {% else %}
            <p><span class="colDanger">你好！欢迎光临！</span>
                <a href="/admin_user">进入管理</a>
            </p>

            {% endif%}

            <p><span class="colDark"><a href="javascript:;" id = "logout" >退出</a></span></p>
        </div>
        {% else %}
        <div class="rightBox" id="loginBox" >
            <div class="title"><span>登录</span></div>
            <div class="line"><span class="colDark">用户名：</span><input type="text" name = 'username'/><em></em></div>
            <div class="line"><span class="colDark">密码：</span><input type="password" name = 'password'/><em></em></div>
            <div class="line"><span class="colDark"></span><button>登 录</button></div>
            <p class="textRight">还没注册？<a href="javascript:;" class="colMint">马上注册</a>　</p>
            <p class="colWarning textCenter"></p>
        </div>

        <div class="rightBox" id="registerBox" style="display: none">
            <div class="title"><span>注册</span></div>
            <div class="line"><span class="colDark">用户名：</span><input type="text"  name="username"/></div>
            <div class="line"><span class="colDark">昵称：</span><input type="text"  name="nickname"/></div>
            <div class="line"><span class="colDark">密码：</span><input type="password" name ='password'/></div>
            <div class="line"><span class="colDark">确认：</span><input type="password" name='repassword'/></div>
            <div class="line"><span class="colDark"></span><button>注 册</button></div>
            <p class="textRight">已有账号？<a href="javascript:;" class="colMint">马上登录</a>　</p>
            <p class="colWarning textCenter"></p>
        </div>
        {% endif %}

        <!--最热文章功能-->
        <div class="rightBox">
            <div class="title"><span>最热文章</span></div>
            {% for hotcontent in hotcontents%}
            <p><a href="/view/?contentId={{hotcontent.id}}" class="colDanger" id="hot">{{hotcontent.title}}</a><span style="float:right">浏览量：{{hotcontent.views}}</span></p>

            {% endfor%}
        </div>
        <!--最新评论功能-->
        <div class="rightBox">
            <div class="title"><span>最新评论</span></div>

            {% for comment in latestcommentsarr%}
            <p>{{comment.content}}</p>
            <p class="colDanger">评论人:{{comment.nickname}}<span style="float:right">{{comment.postTime|date('y年m月d日',-20*60)}}</span></p>
            {% endfor %}
        </div>
        <!--归档功能-->
        <div class="rightBox">
            <div class="title"><span>归档</span></div>
            <p><a href="/?year=2018" class="colDanger" id="year2018">2018年</a></p>
            <p><a href="/?year=2017" class="colDanger" id="year2017">2017年</a></p>
        </div>




        <!--关于我-->
        <div class="rightBox">
            <div class="title"><span>关于我</span></div>
            <p><a href="" class="colDanger" onclick="alert('wangyongxiaozi@outlook.com')">我的邮箱</a></p>
            <p><a href="/explanation" class="colDanger" id="explanation">使用手册与更新</a></p>
            <p><a href="/messboard" class="colDanger" id="messboard">留言板</a></p>
            <p class="colDanger">友情链接：<a href="https://attacker.cc" >云袭2001</a></p>
        </div>
    </div>


</main>

</body>
</html>