{% extends 'layout.html'%}
{% block mainleft%}

<input type="hidden" id="contentId" value="{{content.id}}">
<input type="hidden" id="hidval" value="{{content.content}}">
<input type="hidden" id="hideusername" value="{{userInfo.username}}">
<input type="hidden" id="hidecontentusername" value="{{content.user.username}}">


<!--评论-->
<div class="listBox message">
    <h3 class="textLeft"><strong>留言板</strong> <span class="em">一共有 <em id="messageCount" name="messageCount">0</em>条留言</span></h3>

    {% if userInfo._id %}
    <p class="textLeft">{{userInfo.nickname}}</p>
    <p class="textLeft clear">
        <textarea id="messageContent" name="messageContent"></textarea>

        <button id="messageBtn" class="submit">提交</button>
    </p>
    {%else%}
    <p class="bgDanger" style="line-height: 30px;">你还没有登录，请先登录！</p>
    {%endif%}

    <div class="messageList">
    </div>

    <div class="pager">
        <ul class="clear">
            <li class="previous">
                <a href="">上一页</a>
            </li>
            <li></li>
            <li class="next">
                <a href="">下一页</a>
            </li>
        </ul>
    </div>


</div>

<script src="/public/js/comment.js"></script>
{% endblock %}